<!--/* 主题 js */-->
<th:block th:fragment="scripts">
  <!--/* 基础 JS */-->
  <script type="module" async th:src="@{/assets/dist/main-{version}.min.js(version=${theme.spec.version})}"></script>

  <script type="module" async th:src="@{/assets/dist/libs/custom-{version}.min.js(version=${theme.spec.version})}"></script>

  <!--/* PJAX */-->
  <script type="module" async th:if="${theme.config.others.poi_pjax}" th:src="@{/assets/dist/libs/pjax-{version}.min.js(version=${theme.spec.version})}"></script>

  <script type="module" async th:src="@{/assets/dist/libs/lazysizes-{version}.min.js(version=${theme.spec.version})}"></script>

  <script type="text/javascript" th:inline="javascript">
    function imgError(dom) {
      dom.src = "[(${#theme.assets('/images/default/temp.webp')})]"
      dom.onerror = null;
    }
  </script>
</th:block>
<style>
  :host {
    --rl-left-color: #2c3e50;
    --rl-right-color: #3498db;
    --rl-left-hover: #34495e;
    --rl-right-hover: #2980b9;
    --rl-divider-color: #95a5a6;
    --rl-text-color: #ecf0f1;
    