<div class="top-feature" th:if="${not #arrays.isEmpty(theme.config.focus.features)} or ${theme.config.focus.enable_hot_post}" th:fragment="feature">
  <h1 class="fes-title" style="font-family: 'Ubuntu', sans-serif">
    <span
      th:if="${not #strings.isEmpty(theme.config.focus.feature_icon)}"
      class="iconify"
      th:data-icon="${theme.config.focus.feature_icon}"
    ></span>
    <span
      th:if="${not #strings.isEmpty(theme.config.focus.feature_title)}"
      th:text="${theme.config.focus.feature_title}"
    ></span>
    <span th:if="${#strings.isEmpty(theme.config.focus.feature_title)}" data-i18n="home.feature.title"></span>
  </h1>

  <div class="top-feature-inner"
       th:with="posts = ${postFinder.list({page: 1,size: #conversions.convert(theme.config.focus.hot_post_num, 'java.lang.Integer'),sort: {'stats.visit,desc', 'metadata.creationTimestamp,asc'}})}">
    <div class="top-feature-item" th:each="feature : ${theme.config.focus.features}">
      <div class="feature-container">
        <a data-pjax th:href="${feature.link}" th:target="${theme.config.focus.feature_target}" aria-label="visit the concentrated content">
          <img
            class="lazyload"
            th:alt="${feature.title}"
            th:data-src="${feature.image}"
            th:data-srcset="|
            ${thumbnail.gen(feature.image, 's')} 400w,
            ${thumbnail.gen(feature.image, 'm')} 800w,
            ${thumbnail.gen(feature.image, 'l')} 1200w,
            |"
            data-sizes="auto"
            alt="cover picture of focusing on content"
            width="780"
            height="160"
          />
          <div class="info">
            <h3>
              <span th:text="${feature.title}"></span>
            </h3>
            <p>
              <span th:text="${feature.description}"></span>
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="top-feature-item" th:each="post : ${posts.items}">
      <div class="feature-container">
        <a data-pjax th:href="@{${post.status.permalink}}" th:target="${theme.config.focus.feature_target}" aria-label="visit the concentrated content">
          <img
            class="lazyload"
            th:alt="${post.spec.title}"
            th:with="cover = ${post.spec.cover}"
            th:data-src="${cover}"
            th:data-srcset="|${thumbnail.gen(cover, 's')} 400w,
                        ${thumbnail.gen(cover, 'm')} 800w,
                        ${thumbnail.gen(cover, 'l')} 1200w,
                        ${thumbnail.gen(cover, 'xl')} 1600w|"
            data-sizes="auto"
            alt="cover picture of focusing on content"
            width="780"
            height="160"
          />
          <div class="info">
            <h3>
              <span th:text="${post.spec.title}"></span>
            </h3>
            <p>
              <span th:text="${post.status.excerpt}"></span>
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
